<!-- component for the card image -->
<template>
  <div class="hcard-image">
    <img v-if="image" :src="image" :alt="name" class="u-photo" />
    <template v-else>
      <img src="../../assets/user.svg" :alt="name" class="u-photo" />
      <div class="visually-hidden">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </template>
  </div>
</template>
<script lang="ts">
import {
  Vue, Component, Prop,
} from 'vue-property-decorator';

@Component
export default class HCardImage extends Vue {
  @Prop({ required: false }) image: string|undefined;

  @Prop({ default: '' }) givenName: string|undefined;

  @Prop({ default: '' }) surname: string|undefined;

  get name(): string {
    if (!this.givenName && !this.surname) {
      return 'avatar';
    }
    return `${this.givenName} ${this.surname}`;
  }
}
</script>

<style lang="scss" scoped>
img.u-photo {
  width: 100%;
  height: auto;
}
</style>
