<!-- component for the preview pane -->
<template>
  <section class="h-card vcard">
    <h2 class="text-right">hCard Preview</h2>
    <h3 class="card-title">
      <span class="p-given-name fn">{{ givenName }}</span><span class="p-family-name">{{ surname }}</span>
      <h-card-image :image="imageData" :givenName="givenName" :surname="surname" />
    </h3>
    <div class="details">
      <div class="details__line"><span class="label">Email</span><span class="detail u-email">{{ email }}</span></div>
      <div class="details__line"><span class="label">Phone</span><span class="detail p-tel">{{ phone }}</span></div>
      <div class="p-adr h-adr">
        <div class="details__line"><span class="label">Address</span><span class="detail p-street-address">{{ houseName }} {{ street }}</span></div>
        <div class="details__line">
          <span class="label"></span>
          <span class="detail p-locality">{{ suburb }}</span>
          <span class="detail p-region">{{ state ? `, ${state}` : '' }}</span>
        </div>
        <div class="details__line w-1/2">
          <span class="label">Postcode</span><span class="detail p-postal-code">{{ postcode }}</span>
        </div>
        <div class="details__line w-1/2">
          <span class="label">Country</span><span class="detail p-country-name">{{ country }}</span>
        </div>
      </div>
    </div>
  </section>
</template>
<script lang="ts">
import {
  Vue, Component, Prop,
} from 'vue-property-decorator';
import HCardImage from './hcard-image.vue';

@Component({
  components: {
    HCardImage,
  },
})
export default class HCardPreview extends Vue {
  @Prop({ default: '' }) givenName: string|undefined;

  @Prop({ default: '' }) surname: string|undefined;

  @Prop({ default: '' }) email: string|undefined;

  @Prop({ default: '' }) phone: string|undefined;

  @Prop({ default: '' }) houseName: string|undefined;

  @Prop({ default: '' }) street: string|undefined;

  @Prop({ default: '' }) suburb: string|undefined;

  @Prop({ default: '' }) state: string|undefined;

  @Prop({ default: '' }) postcode: string|undefined;

  @Prop({ default: '' }) country: string|undefined;

  @Prop({ default: '' }) imageData: string|undefined;
}
</script>

<style lang="scss" scoped>
.h-card {
  width: 100%;

  h2 {
    color: var(--legend-fg);
    font-weight: bold;
  }
}

.card-title {
  background: var(--hcard-title-bg);
  position: relative;
  min-height: 100px;
  color: var(--hcard-title-fg);
  padding: 1rem;
  padding-right: calc(100px + 2rem); // image width + 16px padding on each side.
  word-break: break-all;
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

::v-deep .hcard-image {
  position: absolute;
  width: 100px;
  height: 115px;
  background: #fff;
  padding: 10px;
  right: 1rem;
  top: 1rem;
  display: flex;
  border: 2px solid var(--img-border)
}

.p-family-name {
  margin-left: 0.3em;
}

.details {
  background: #fff;
  padding: 3em 1em 1em;

  &__line {
    border-bottom: 1px solid var(--legend-fg);
    height: 44px;
    margin-bottom: 1em;
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 0.5em;

    .label {
      width: 30%;
      text-transform: uppercase;
      font-size: 0.875rem;

      @media(min-width: 64em) {
        width: 25%;
      }
    }
    .detail {
      font-size: 1.125rem;
    }

    &.w-1\/2 {
      @media (min-width: 64rem) {
        width: 50%;
        .label, .detail {
          flex: 1;
        }
      }
    }
  }
}
</style>
