<template>
  <div class="hcard-form">
    <div class="form">
      <h1>hCard Builder</h1>
      <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(onSubmit)">
          <fieldset class="fieldset">
            <legend class="legend">Personal Details</legend>
            <div class="flex">
              <div class="field">
                <label for="givenName">Given name:</label>
                <ValidationProvider tag="div" rules="required" name="Given Name" v-slot="{ errors }">
                  <input type="text" id="givenName" v-model="fields.givenName">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="surname">Surname:</label>
                <ValidationProvider tag="div" rules="required" name="Surname" v-slot="{ errors }">
                  <input type="text" id="surname" v-model="fields.surname">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="email">Email:</label>
                <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
                  <input type="email" id="email" v-model="fields.email">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="phone">Phone:</label>
                <ValidationProvider tag="div" rules="required" name="Phone" v-slot="{ errors }">
                  <input type="tel" id="phone" v-model="fields.phone">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="legend">Address</legend>
            <div class="flex">
              <div class="field">
                <label for="houseName">House Name or #:</label>
                <ValidationProvider tag="div" rules="required" name="House name" v-slot="{ errors }">
                  <input type="text" id="houseName" v-model="fields.houseName">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="street">Street:</label>
                <ValidationProvider tag="div" rules="required" name="Street" v-slot="{ errors }">
                  <input type="text" id="street" v-model="fields.street">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="suburb">Suburb:</label>
                <ValidationProvider tag="div" rules="required" name="Suburb" v-slot="{ errors }">
                  <input type="text" id="suburb" v-model="fields.suburb">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="state">State:</label>
                <ValidationProvider tag="div" rules="required" name="State" v-slot="{ errors }">
                  <input type="text" id="state" v-model="fields.state">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="postcode">Postcode:</label>
                <ValidationProvider tag="div" rules="required" name="Postcode" v-slot="{ errors }">
                  <input type="text" id="postcode" v-model="fields.postcode">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="field">
                <label for="country">Country:</label>
                <ValidationProvider tag="div" rules="required" name="Country" v-slot="{ errors }">
                  <input type="text" id="country" v-model="fields.country">
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
            </div>
          </fieldset>
          <div class="buttons flex">
            <label for="fileupload" class="visually-hidden">Upload Avatar</label>
            <input
              class="custom-file-input buttons__upload"
              type="file"
              id="fileupload"
              name="fileupload"
              @change="previewImage"
              accept="image/*">
            <button type="submit" class="buttons__submit">Create hCard</button>
          </div>
        </form>
      </ValidationObserver>
    </div>
    <div class="preview">
      <h-card-preview v-bind="{...fields}" />
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { ValidationObserver, ValidationProvider, extend } from 'vee-validate';
import { required, email } from 'vee-validate/dist/rules';
import HCardPreview from '../hcard-preview/hcard-preview.vue';

@Component({
  components: {
    HCardPreview,
    ValidationProvider,
    ValidationObserver,
  },
})
export default class HCardForm extends Vue {
  fields = {
    givenName: '',
    surname: '',
    email: '',
    phone: '',
    houseName: '',
    street: '',
    suburb: '',
    state: '',
    postcode: '',
    country: '',
    imageData: '',
  }

  previewImage(event: Event): void {
    const input = event.target as HTMLInputElement;
    if (input.files && input.files.length) {
      const reader = new FileReader(); // webApi
      reader.onload = (e) => {
        this.fields.imageData = e?.target?.result as string;
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  created(): void {
    // No message specified.
    extend('email', email);

    // Override the default message.
    extend('required', {
      ...required,
      message: 'This field is required',
    });
  }

  onSubmit(): void {
    console.log('Form submitted!');
  }
}
</script>

<style lang="scss" scoped>
.hcard-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2em;
  grid-template-areas:
    "form"
    "preview";

  @media (min-width: 48em) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.form, .preview {
  padding: 1em;
}
.preview {
  background: var(--preview-bg);
  display: flex;
  align-items: center;

  @media(min-width: 64em) {
    padding: 2em;
  }
}

.fieldset {
  margin-bottom: 1em;
}

.legend {
    color: var(--legend-fg);
    text-transform: uppercase;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--legend-fg);
    width: 100%;
    padding-bottom: 0.5em;
}

.flex {
  @media(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.field {
  margin-bottom: 1em;

  label {
    color: var(--field-label);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0.5em;
  }

  input {
    display: block;
    width: 100%;
    padding-left: 0.5em;
    font-size: 1.25em;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 0.5em;
    height: 44px;
    line-height: 44px;
  }

  .error {
    color: var(--error-fg);
  }

  @media(min-width: 768px) {
    width: 48%;
  }
}

[class*="buttons__"] {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  height: 44px;
  line-height: 44px;

  @media(min-width: 768px) {
    width: 48%;
  }
}

.buttons__submit {
  cursor: pointer;
  background: hsl(var(--light-blue-h), var(--light-blue-s), var(--light-blue-l));
  border: 0;
  border-radius: 4px;
  border-bottom: 2px solid hsl(var(--light-blue-h), var(--light-blue-s), calc(var(--light-blue-l) - 10%));
  color: #fff;
  &:hover {
    border-color: hsl(var(--light-blue-h), var(--light-blue-s), calc(var(--light-blue-l) - 30%));
  }
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload Avatar';
  color: #FFF;
  text-align: center;
  display: inline-block;
  background: hsl(var(--grey-button-h), var(--grey-button-s), var(--grey-button-l));
  border-bottom: 2px solid hsl(var(--grey-button-h), var(--grey-button-s), calc(var(--grey-button-l) - 10%));
  border-radius: 4px;
  height: 44px;
  line-height: 44px;
  padding: 0 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.custom-file-input:hover::before {
  border-color: hsl(var(--grey-button-h), var(--grey-button-s), calc(var(--grey-button-l) - 30%));;
}
.custom-file-input:active {
  outline: 0;
}
</style>
