:root {
  --preview-bg: #E7E9EC;
  --hcard-title-bg: #394F63;
  --hcard-title-fg: #fff;
  --legend-fg: #68777d;
  --field-label: #394F63;
  --img-border: #394F63;
  --field-input-border: #394F63;
  --light-blue-h: 201;
  --light-blue-s: 74%;
  --light-blue-l: 40%;
  --grey-button-h: 203;
  --grey-button-s: 17%;
  --grey-button-l: 54%;
  --error-fg: red;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-size: 2rem;
  margin: 0.67em 0;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 1em;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;

  @media(min-width: 64rem) {
    font-size: 2rem;
  }
}

.text-right {
  text-align: right;
}

#app {
  max-width: 1440px;
  margin: auto;
}
