<template>
  <div id="app">
    <h-card-form />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HCardForm from '@/components/hcard-form/hcard-form.vue';
import HCardPreview from '@/components/hcard-preview/hcard-preview.vue';

@Component({
  components: {
    HCardForm,
    HCardPreview,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import "assets/reset.scss";
@import "assets/app.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
</style>
